_yardoc
.bundle
.config
.rspec_status
.yardoc
*.a
*.bundle
*.gem
*.o
*.rbc
*.so
/_yardoc/
/.bundle/
/.yardoc
/bin/
/coverage
/coverage/
/doc/
/dragonfly.log
/Gemfile.lock
/InstalledFiles
/lib/bundler/man
/mkmf.log
/pkg/
/rdoc
/spec/reports/
/test/tmp
/test/version_tmp
/tmp/
